## Ejemplo 6: Limpiando NaNs en un dataset real

### 1. Objetivos:
    - Aplicar lo aprendido hasta ahora en un dataset real
 
### 2. Desarrollo:

In [ ]:
import pandas as pd

Para leer un archivo .csv en `pandas`, usamos `read_csv` y le indicamos que el separador (el signo que delimita las columnas en el archivo .csv) es una coma:

In [ ]:
df = pd.read_csv('../../Datasets/melbourne_housing-raw.csv',
    sep=',')
df

In [ ]:
# el tamaño del df con shape()

In [ ]:
# el inicio con head()

In [ ]:
# le final con tail()

In [ ]:
# encontrando nans con df.isna().sum()

Hay demasiados `NaNs` en las columnas 'BuildingArea' y 'YearBuilt', así que vamos a deshacernos de esas columnas:

In [ ]:
# eliminando columnas con df.drop(columns=[...])
# revisando cantidad de nans de nuevo

Llenemos los `NaNs` en Regionname con la palabra `Unknown`:

In [ ]:
# remplazando nans con df[-columna-] = df[-columna-].fillna(-valor-)
# mostrando cantidad de nans de nuevo
...
df_2.isna().sum()

Ahora eliminemos las filas que contengan al menos un `NaN`:

In [ ]:
# usando df.dropna(axis=0, how="any")  # axis=0 -> filas
...
df_dropped.isna().sum()

Éste es el número de columnas con el que nos quedamos:

In [ ]:
# usando df.shape()

Guardemos el resultado usando `df.to_csv("ruta y nombre de archivo csv")`:

In [ ]:
# tu código

Seguiremos trabajando este dataset en el último ejemplo.