In [1]:
soy_una_lista_feliz = [3, 6, 1, 4, 8, 7, 2, 4, 3]

In [1]:
lista_de_floats = [1.4, 5.78, 2.34, 5.21, 8.9]

lista_de_strings = ["Hola", "mundo", "me", "llamo", "Marco P."]

lista_de_booleanos = [True, False, True, True, False, False]

lista_de_listas_de_ints = [[1, 4, 3], [6, 8, 7], [2, 4, 3], [0, 9, 8]]

In [2]:
lista_mixta = [3, True, 7.5, [3, 5, 4], "Hola"]

In [3]:
lista_1 = [4, 8, 3, 6, 2]

lista_1[0]

4

In [4]:
print(lista_1[3])
print(lista_1[2])

6
3

In [7]:
lista_1[5]

IndexError: list index out of range

In [5]:
lista_2 = [4, 7, 6, 2, 5]

lista_2.append(10)

lista_2

[4, 7, 6, 2, 5, 10]

In [6]:
lista_2[5]

10

In [8]:
estrellas = ['Woopsie Doopsies', 'Omega-3', 'Justin Bieber', 'La Twinkle', 'Rosaberta']

estrellas.pop()

estrellas

['Woopsie Doopsies', 'Omega-3', 'Justin Bieber', 'La Twinkle']

In [9]:
estrellas.pop(2)

estrellas

['Woopsie Doopsies', 'Omega-3', 'La Twinkle']

In [10]:
estrellas[2]

'La Twinkle'

In [12]:
estrellas = ['Woopsie Doopsies', 'Omega-3', 'Justin Bieber', 'La Twinkle', 'Rosaberta']

estrellas.insert(2, 'Britney Baby')

estrellas

['Woopsie Doopsies',
 'Omega-3',
 'Britney Baby',
 'Justin Bieber',
 'La Twinkle',
 'Rosaberta']

In [13]:
estrellas = ['Woopsie Doopsies', 'Omega-3', 'Britney Baby', 'Justin Bieber', 'La Twinkle', 'Rosaberta']

estrellas.remove('Omega-3')

estrellas

['Woopsie Doopsies',
 'Britney Baby',
 'Justin Bieber',
 'La Twinkle',
 'Rosaberta']

In [14]:
nombres = ['Marco P.', 'Maricarmen', 'Jenny', 'Marco P.', 'Rosaura del Monte', 'Marco P.']

nombres.remove('Marco P.')

nombres

['Maricarmen', 'Jenny', 'Marco P.', 'Rosaura del Monte', 'Marco P.']

In [15]:
diccionario = {
    "llave_1": 1,
    "llave_2": 2,
    "llave_3": 3
}

In [16]:
diccionario_numérico = {
    1: "uno",
    2: "dos",
    3: "tres",
    4: "cuatro",
    5: "cinco"
}

In [17]:
diccionario_numérico[1]

'uno'

In [18]:
nombre_a_profesion = {
    "Marco P.": "Fontanero",
    "Jenny": "Bailarina de tap",
    "Chaveta Xtreme": "Inventor de tennis deportivos",
    "Justin Bieber": "Estrella celeste"
}

nombre_a_profesion["Jenny"]

'Bailarina de tap'

In [20]:
nombre_a_profesion["Pepe Juan"] = "Analista de datos"

nombre_a_profesion["Pepe Juan"]

'Analista de datos'

In [21]:
nombre_a_profesion["Jenny"] = "Coach de equipo de futbol femenil"

nombre_a_profesion["Jenny"]

'Coach de equipo de futbol femenil'

In [22]:
datos_compras = {
    "nombre": "Alberto Suarez",
    "productos_comprados": ["TV", "Chromebook", "VGA-USB-C"],
    "direccion_de_facturacion": {
        "colonia": "Escandon",
        "calle": "Mutualismo",
        "numero": 44,
        "cp": 11800
    }
}

In [24]:
from pprint import pprint

In [25]:
datos_compras["productos_comprados"].append("Ipad Nano")

datos_compras["direccion_de_facturacion"]["numero"] = 55

pprint(datos_compras)

{'direccion_de_facturacion': {'calle': 'Mutualismo',
                              'colonia': 'Escandon',
                              'cp': 11800,
                              'numero': 55},
 'nombre': 'Alberto Suarez',
 'productos_comprados': ['TV',
                         'Chromebook',
                         'VGA-USB-C',
                         'Ipad Nano',
                         'Ipad Nano']}

In [26]:
nombre_a_profesion = {
    "Marco P.": "Fontanero",
    "Jenny": "Bailarina de tap",
    "Chaveta Xtreme": "Inventor de tennis deportivos",
    "Justin Bieber": "Estrella celeste"
}

nombre_a_profesion.pop("Justin Bieber")

nombre_a_profesion

{'Marco P.': 'Fontanero',
 'Jenny': 'Bailarina de tap',
 'Chaveta Xtreme': 'Inventor de tennis deportivos'}

In [30]:
# Cantidad de alumnos estudiando en la UNAM en el ciclo escolar 2019-2020
#
# Fuente: http://www.estadistica.unam.mx/numeralia/
#

total_de_alumnos = 360883
alumnos_en_posgrado = 30634
alumnos_en_licenciatura = 217808
alumnos_en_bachillerato = 111569
alumnos_en_prope_de_musica = 872

In [31]:
alumnos_en_posgrado_porc = alumnos_en_posgrado * 100 / total_de_alumnos
alumnos_en_licenciatura_porc = alumnos_en_licenciatura * 100 / total_de_alumnos
alumnos_en_bachillerato_porc = alumnos_en_bachillerato * 100 / total_de_alumnos
alumnos_en_prope_de_musica_porc = alumnos_en_prope_de_musica * 100 / total_de_alumnos

In [32]:
def

SyntaxError: invalid syntax (<ipython-input-32-7b18d017f89f>, line 1)

In [34]:
def sumar_dos_a_numero(numero):
    
    suma = numero + 2

In [35]:
suma_de_5_mas_2 = sumar_dos_a_numero(5)

suma_de_5_mas_2

7

In [36]:
print(sumar_dos_a_numero(3))
print(sumar_dos_a_numero(10))
print(sumar_dos_a_numero(222))
print(sumar_dos_a_numero(1036))

5
12
224
1038

In [37]:
def calcular_porcentaje(muestra, total):
    
    porcentaje = muestra * 100 / total
    
    return porcentaje

In [38]:
total_de_alumnos = 360883
alumnos_en_posgrado = 30634
alumnos_en_licenciatura = 217808
alumnos_en_bachillerato = 111569
alumnos_en_prope_de_musica = 872

In [39]:
alumnos_en_posgrado_porc = calcular_porcentaje(alumnos_en_posgrado, total_de_alumnos)
alumnos_en_licenciatura_porc = calcular_porcentaje(alumnos_en_licenciatura, total_de_alumnos)
alumnos_en_bachillerato_porc = calcular_porcentaje(alumnos_en_bachillerato,  total_de_alumnos)
alumnos_en_prope_de_musica_porc = calcular_porcentaje(alumnos_en_prope_de_musica, total_de_alumnos)

In [42]:
variable_global = "Global"

In [41]:
variable_global

'Global'

In [44]:
status = "OK"

if status == "OK":
    respuesta = "El proceso fue llevado a cabo con éxito"
    
respuesta

'El proceso fue llevado a cabo con éxito'

In [45]:
respuesta

'El proceso fue llevado a cabo con éxito'

In [46]:
def sumar_dos_a_numero(numero):
    
    suma = numero + 2
    
    return suma

In [47]:
print(numero)

NameError: name 'numero' is not defined

In [48]:
print(suma)

NameError: name 'suma' is not defined

In [49]:
sumar_dos_a_numero(10)

12

In [50]:
numero

NameError: name 'numero' is not defined

In [51]:
suma

NameError: name 'suma' is not defined

In [52]:
valor_retornado_por_la_funcion = sumar_dos_a_numero(20)

valor_retornado_por_la_funcion

22